<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- ========================= GENERAL DEFINITIONS ========================= -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="basenames">
			<list>
				<value>/WEB-INF/message/messages</value>
			</list>
		</property>
		<property name="cacheSeconds" value="10" />
	</bean>

	<!-- ========================= BUSINESS OBJECT DEFINITIONS ======================== -->
	<!-- <bean id="boardService" class="nso.apd.board.service.BoardServiceImpl" 
		> <property name="sqlMapClient" ref="sqlMapClient"/> <property name="messageSource" 
		ref="messageSource"/> </bean> -->
</beans>
